<div class="panel panel-info" style="height: 100%; margin: 0;">

    <div class="panel-heading">
        <div class="panel-title">
            <span class="glyphicon glyphicon-user"></span>
            {{ model.name }}
        </div>
    </div>

    <div class="panel-body" style="max-height: 85%; overflow-y: auto;">
        <!-- this will be abstracted into a self-contained directive to manage provider's groups -->
        
        <div ng-show="item.groups.length">
            <h4>Группы:</h4>
            <ul class="list-unstyled list-inline">
                <li ng-repeat="group in item.groups">
                    {{ group.name }}
                </li>
            </ul>
        </div>

        <tabset>
            <tab heading="Контактные данные ({{ contactsCount() }})">
                
                <!-- extract this ... -->
                
                <table class="table table-condensed text-small" ng-controller="profileAddressController">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Город</td>
                            <td>
                                <span ng-show="!addressEditing">
                                    {{ model.city }}
                                </span>
                                <input ng-show="addressEditing" ng-model="address.city" class="form-control" />
                            </td>
                            <td>
                                <button class="btn btn-sm btn-default" ng-click="beginEditAddress()" ng-hide="addressEditing">
                                    <i class="glyphicon glyphicon-pencil" tooltip="редактировать данные об адресе и регионе"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Адрес</td>
                            <td>
                                <span ng-show="!addressEditing">
                                    {{ model.address }}
                                </span>
                                <input ng-show="addressEditing" ng-model="address.address" class="form-control">
                            </td>
                            <td>
                                <button class="btn btn-sm btn-success" ng-click="SaveAddressChanges()" ng-show="addressEditing">
                                    <i class="glyphicon glyphicon-ok" tooltip="Сохранить данные об адресе и регионе"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Регион</td>
                            <td>
                                <span ng-hide="addressEditing">
                                    {{ model.region.name }}
                                </span>
                                <select ng-model="address.regionId" ng-show="addressEditing" ng-options="item.id as item.title for item in lists.regions"></select>
                               
                            </td>
                            <td>
                                <button class="btn btn-sm btn-danger" ng-click="CancelAddressChanges()" ng-show="addressEditing">
                                    <i class="glyphicon glyphicon-remove" tooltip="Отмена"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in model.contactPersons">
                        <div class="list-group-item-heading">
                            {{ item.fullName }}
                        </div>
                        <div class="list-group-item-text">
                            <!-- emailList -->
                            <h4>Электропочта</h4>
                            <trk-profile-emails-list items="item.emails" contact-person-id="item.id" readonly="readonly"></trk-profile-emails-list>
                            <hr />

                            <!-- emailList -->
                            <h4>Телефоны</h4>
                            <trk-profile-phones-list items="item.phones" contact-person-id="item.id" readonly="readonly"></trk-profile-phones-list>

                            <hr />

                            <!-- emailList -->
                            <h4>Другое</h4>
                            <trk-profile-other-contacts-list items="item.otherContacts" contact-person-id="item.id" readonly="readonly"></trk-profile-other-contacts-list>

                        </div>
                    </li>
                </ul>

            </tab>

            <tab heading="Услуги ({{ servicesCount() }})">
                <div style="overflow-y: auto">
                    <trk-services-list items="model.services" parent="model.id" readonly="readonly"></trk-services-list>
                </div>
            </tab>
                <!--
                    <tab heading="Работа в штате" ng-show="model.employments && model.employments.length > 0">
                        <trk-employments-list items ="model.employments"></trk-employments-list>
                    </tab>
                    <tab heading="Фриланс" ng-show="model.freelances && model.freelances.length > 0">
                        <trk-freelances-list items="model.freelances"></trk-freelances-list>
                 
                    </tab>
                -->
            <table>
                <tab heading="Софт">
                    <!--<div ng-include="app/providers/profile/softs/profiver-soft-list.tpl.html"></div>-->
                    <trk-profile-soft-list items="model.soft" provider-id="model.id" readonly="readonly"></trk-profile-soft-list>
                    
                </tab>
            </table>
        </tabset>

    </div>

</div>