
<div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">Войдите</h2>
        
        <label for="inputUserName" class="sr-only">Имя пользователя</label>
        <input type="text" id="inputUserName" class="form-control" placeholder="Имя пользователя"
               ng-model="credentials.userName" required="" autofocus="">

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required=""
               ng-model="credentials.password" />

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="credentials.storeCreds"> Запомнить меня
            </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" data-indi-click="submit()">Войти</button>
        {{ errorMessage }}
    </form>
</div>
