<p ng-if="!items.length">Ничего нет</p>
<div class="well">
    <table class="table table-condensed table-bordered" ng-if="items && items.length > 0">
        <thead>
            <tr>
                <th>Адрес/id</th>
                <th>Активный</th>
                <th>Тип</th>
                <th>Комментарий</th>
                <th>Создано</th>
                <th>Изменено</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody>
            <tr  
                ng-repeat="item in items | orderBy : ['-active', '-isDeleted']"
                ng-class="{ 'success' : item.active, 'item-deleted' : item.isDeleted }"
                ng-hide="item.isDeleted && model.readonly">
                
                <td>
                    {{ item.address }}
                </td>
                
                <td>
                    <i class="glyphicon glyphicon-ok text-success" ng-show="item.active && !item.isDeleted"></i>
                    <i class="glyphicon glyphicon-trash" tooltip="Удалено" ng-show="item.isDeleted"></i>
                </td>

                <td>{{ item.type.name }}</td>

                <td>{{ item.comment }}</td>
                
                <td>
                    {{ item.createdByName }}
                    <p class="text-small text-muted">
                        <trk-datetime trk-dt-val="item.createdDate"></trk-datetime>
                    </p>
                </td>
                
                <td>
                    {{ item.modifiedByName }}
                    <p class="text-small text-muted">
                        <trk-datetime trk-dt-val="item.modifiedDate"></trk-datetime>
                    </p>
                </td>

                <td ng-if="!readonly" ng-show="!model.editingItem && !model.addingItem">

                    <button class="btn btn-sm btn-default" ng-hide="item.isDeleted" ng-click="model.beginEditItem(item)">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button>

                    <button class="btn btn-sm btn-default" ng-hide="item.isDeleted" ng-click="model.removeItem(item)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>

                    <button class="btn btn-sm btn-default" ng-show="item.isDeleted" ng-click="model.restoreItem(item)">
                        <i class="glyphicon glyphicon-refresh"></i>
                    </button>

                </td>

            </tr>
        </tbody>
    </table>
    <div class="row">
        <div ng-if="!readonly" ng-show="!!model.addingItem || !!model.editingItem">
            <h4>
                <span ng-show="!!model.addingItem">Добавление</span>
                <span ng-show="!!model.editingItem">Редактирование</span>
            </h4>

            <form name="addOtherContact" class="form-inline">

                <div class="form-group">
                    <label for="inputAddress">Адрес/id</label>
                    <input type="text" 
                           id="inputAddress" 
                           class="form-control" 
                           required
                           name="inputAddress"
                           ng-model="model.newItem.address" />
                    <trk-error-summary ng-show="addOtherContact.inputAddress.$dirty" for="addOtherContact.inputAddress"></trk-error-summary>
                </div>

                <div class="form-group">
                    <label for="inputActive">Активный</label>
                    <input id="inputActive" type="checkbox" ng-model="model.newItem.active" />
                </div>
                
                <div class="form-group">
                    <label for="inputType">Тип</label> 
                    <select name="inputType" class="form-control" required ng-model="model.newItem.typeId" ng-options="type.id as type.title for type in lists.types"></select>
                    <trk-error-summary for="addOtherContact.inputType"></trk-error-summary>

                </div>
                <div class="form-group">
                    <label for="inputComment">Комментарий</label>
                    <input id="inputComment" 
                           class="form-control" 
                           type="text" 
                           ng-model="model.newItem.comment" />
                </div>
                <hr />
                <button class="btn btn-sm btn-success" ng-show="!!model.addingItem" ng-disabled="addOtherContact.$invalid" ng-click="model.addItem()"><span class="glyphicon glyphicon-save"></span>Готово</button>
                <button class="btn btn-sm btn-success" ng-show="!!model.editingItem" ng-disabled="addOtherContact.$invalid" ng-click="model.editItem()"><span class="glyphicon glyphicon-save"></span>Готово</button>
                <button class="btn btn-sm btn-default" ng-click="model.cancelItem()"><span class="glyphicon glyphicon-remove"></span>Отмена</button>
            </form>
        </div>
        <button class="btn btn-sm btn-success" ng-hide="readonly || model.addingItem || model.editingItem" ng-click="model.beginAddItem()"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
</div>