<div class="modal-header">
    <div class="modal-title">
        <h4>Внештатная работа</h4>
    </div>
</div>
<div class="modal-body">
    <h2>{{ model.name }}</h2>
    <div class="form-group">
        <label for="inputFreeLanceStatus">Статус</label>
        <select id="inputFreeLanceStatus" ng-model="model.freelance.statusId" class="form-control"
                ng-options="item.id as item.title for item in model.lists.freelanceStatuses"></select>
    </div>

    <div class="form-group">
        <label for="inputFreelanceComment">Комментарий</label>
        <textarea id="inputFreelanceComment" style="height: 200px;" class="form-control" ng-model="model.freelance.comment"></textarea>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-success" ng-click="model.save()">
        <i class="glyphicon glyphicon-save"></i>
        Сохранить
    </button>
    <button class="btn btn-default" ng-click="model.cancel()">
        <i class="glyphicon glyphicon-remove"></i>
        Отмена
    </button>
</div>