<div ui-layout="{ flow : 'column' }" style="margin-top: 50px;">
    <div ui-layout-container class="layout-container">
        <div>
            <!-- class="panel panel-info" -->
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="btn-toolbar" role="toolbar" ng-hide="readonly">
                            <div class="btn-group btn-group-sm" role="group">
                                <!-- create provider -->
                                <button type="button" class="btn btn-sm btn-success dropdown-toggle" ng-hide="readonly"
                                        data-toggle="dropdown" aria-expanded="false">
                                    <i class="glyphicon glyphicon-user"></i>Новый
                                    <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu success" role="menu">
                                    <li>

                                        <a ui-sref="hr.createIndividual({ type : data.freeLancer })">
                                            <i class="glyphicon glyphicon glyphicon-globe text-default"></i>
                                            {{ data.freelancer.title }}
                                        </a>
                                    </li>
                                    <li>
                                        <a ui-sref="hr.createIndividual({ type : data.employee })">
                                            <i class="glyphicon glyphicon glyphicon-globe text-success"></i>
                                            {{ data.employee.title }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-9">
                        <div class="btn-group btn-group-sm pull-right">
                            <trk-btn-refresh class="btn btn-sm btn-default" ng-click="reloadTable()" tooltip="Обновить" tooltip-placement="bottom">
                                <i class="glyphicon glyphicon-refresh"></i>
                            </trk-btn-refresh>

                        </div>
                    </div>
                </div>

            </div>


            <div class="slide-container">
                <div class="slide">
                    <div class="slide-header">
                        <div class="slide-header-title">Фильтр</div>
                    </div>
                    <div class="slide-content">
                        <trk-providers-filter filters="tableParams.$params.filter"></trk-providers-filter>
                    </div>
                </div>
                <div class="slide-container-main">
                    <table ng-table="tableParams" class="table noselect table-condensed ng-table-responsive text-small">
                        <tbody>
                            <tr ng-repeat="item in $data" ng-class="{ 'item-deleted' : item.isDeleted, 'provider-busy' : item.isBusy, 'provider-unavailable' : item.isUnavailable }"
                                ng-click="select(item.id)">

                                <td data-title="' '" ng-class="{ 'selected-table-row' : item.id ===selectedItemId }" sortable="'promotion'">
                                    <span ng-if="item.isPromoted" class="glyphicon glyphicon-arrow-up text-success"></span>
                                </td>

                                <td data-title="'Тип'" sortable="'typeName'">
                                    <trk-glyphicon trk-gl-data="item.typeName"></trk-glyphicon>
                                    <a class="cell-action" ng-hide="readonly" ns-popover ns-popover-template="providertypepopover" ns-placement="right">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>

                                </td>

                                <td data-title="'Наименование'" sortable="'name'">
                                    <a ng-click="deleteItem(item)"
                                       class="cell-action"
                                       tooltip="Удалить исполнителя">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>

                                    <a ui-sref=".profile({ id : item.id })" tooltip="Кликните, чтобы отобразить подробности">
                                        <span ng-text-truncate="item.name" ng-tt-chars-threshold="30" ng-tt-no-toggling></span>
                                    </a>
                                </td>

                                <!-- this is only shown if model includes rate & QA -->
                                <td data-title="'Нос.'" ng-show="showRateAndQA" sortable="'native'">
                                    <span ng-class="{ 'provider-native' : item.isNativeSpeaker }"></span>
                                </td>

                                <td data-title="'Тариф'" ng-show="showRateAndQA" sortable="'MinRate'">
                                    <trk-glyphicon trk-gl-data="item.rate.currencyName"></trk-glyphicon>
                                    <span ng-show="item.rate">{{ item.rate.minRate }}..{{ item.rate.maxRate }} </span>
                                </td>
                                <td data-title="'Ед.изм.'" ng-show="showRateAndQA" sortable="'UomName'">
                                    {{ item.rate.uomName }}
                                </td>

                                <td data-title="'Звезды'" ng-show="showRateAndQA" sortable="'stars'">
                                    <rating ng-model="item.qa.stars" max="3" readonly="true"></rating>
                                </td>
                                <td data-title="'Оценка'" ng-show="showRateAndQA" sortable="'grade'">
                                    <trk-grade grade="item.qa.grade"></trk-grade>
                                    <trk-conditional-comment message="item.qa.comment" heading="Комментарий"></trk-conditional-comment>
                                </td>

                                <td data-title="'Подразделение'" ng-show="includeInhouse">
                                    <div ng-show="isEmployee(item)">
                                        <span ng-text-truncate="item.employment.officeName" ng-tt-chars-threshold="20"></span>
                                        <trk-conditional-comment message="item.employment.comment" heading="Комментарий"></trk-conditional-comment>
                                        <a ng-hide="readonly" ng-click="changeEmployment(item)" class="cell-action"><span class="glyphicon glyphicon-pencil" tooltip="Кликните, чтобы изменить место работы"></span></a>
                                        <div ng-if="item.calendar && item.calendar.officeId != item.employment.officeId" class="text-small">
                                            временно {{ item.calendar.officeName }}
                                        </div>
                                    </div>
                                </td>

                                <td data-title="'Должность'" ng-show="includeInhouse">
                                    <div ng-show="isEmployee(item)">
                                        <span ng-text-truncate="item.employment.titleName" ng-tt-words-threshold="2"></span>
                                        <a ng-hide="readonly" ng-click="changeEmployment(item)" class="cell-action" tooltip="Кликните, чтобы изменить должность">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                    </div>
                                </td>

                                <td data-title="'Статус/активность'">
                                    <span ng-show="isEmployee(item)">
                                        {{ item.employment.statusName }}
                                        <a ng-hide="readonly" ng-click="changeEmployment(item)" class="cell-action"><span class="glyphicon glyphicon-pencil" tooltip="Кликните, чтобы изменить статус штатной работы"></span></a>
                                    </span>
                                    <span ng-show="!isEmployee(item)">
                                        {{item.freelance.statusName }}
                                        <trk-conditional-comment message="item.freelance.comment" heading="Комментарий"></trk-conditional-comment>
                                        <a ng-hide="readonly" ng-click="changeFreelance(item)" class="cell-action"><span class="glyphicon glyphicon-pencil" tooltip="Кликните, чтобы изменить статус внештатной работы"></span></a>
                                    </span>
                                </td>

                                <td data-title="'Занятость'">
                                    {{ item.availability.statusName }}
                                    <span ng-if="item.availability.statusThrough" class="text-small">
                                        до <trk-datetime trk-dt-mode="date" trk-dt-val="item.availability.statusThrough"></trk-datetime>
                                    </span>
                                    <span ng-show="item.availability.pendingJobsCount > 0" class="text-small">
                                        &nbsp;{{ item.availability.pendingJobsCount }} заказов к <trk-datetime trk-dt-val="item.availability.latestDueDate"></trk-datetime>
                                    </span>
                                    <trk-conditional-comment message="item.availability.comment" heading="Комментарий"></trk-conditional-comment>
                                    <a ng-click="showAvailabilityCalendar(item)" class="cell-action"><span class="glyphicon glyphicon-calendar" tooltip="Посмотреть занятость"></span></a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>


    <div ui-layout-container size="60%" class="layout-container">

        <ui-view>


        </ui-view>

    </div>
</div>

<script type="text/ng-template" id="providertypepopover">
    <div class="popover-wrapper">
        <ul class="list list-unstyled popover-list">
            <li ng-repeat="providerType in lists.providerTypes"
                ng-hide="providerType.id === item.typeId || providerType.id === 2" class="ns-popover-list-item"
                ng-click="changeType(item, providerType.id)">
                <!-- magic number!!! -->
                {{ providerType.title }}
            </li>
        </ul>
    </div>
</script>


