<div class="form form-horizontal">
    <ng-form name="personNameForm">
        <div class="row">
            <div class="col-sm-6">
                <div style="padding: 10px;">
                    <div class="form-group">
                        <label for="lastName">Фамилия</label>
                        <input type="text" name="inputLastName" id="lastName" class="form-control" ng-blur="fixCase()" ng-model="model.name.lastName" required/>
                        <trk-error-summary for="personNameForm.inputLastName"></trk-error-summary>
                    </div>
                    <div class="form-group">
                        <label for="firstName">Имя</label>
                        <input type="text" name="inputFirstName"id="firstName" class="form-control" ng-model="model.name.firstName" ng-blur="fixCase()" required/>
                        <trk-error-summary for="personNameForm.inputFirstName"></trk-error-summary>
                    </div>
                    <div class="form-group">
                        <label for="middleName">Отчество</label>
                        <input type="text" id="middletName" class="form-control" ng-blur="fixCase()" ng-model="model.name.middleName" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-muted">
                <div style="padding: 10px;">
                    <div class="form-group additional-info">
                        <label for="fullName">Полное имя</label>
                        <input name="inputFullName"
                               type="text"
                               id="middleName"
                               class="form-control"
                               trk-unique="service"
                               trk-unique-data="personId"
                               ng-model="model.fullName" />
                        <trk-error-summary for="personNameForm.inputFullName" ng-show="personNameForm.$dirty" />
                    </div>
                    

                    <div class="form-group additional-info">
                        <label for="middleName">Как обращаться</label>
                        <input type="text" id="middletName" class="form-control" ng-model="model.address" />
                    </div>
                    
                    <div class="form-group additional-info">
                        <label for="middleName">Инициалы</label>
                        <input type="text" id="middleName" class="form-control" ng-model="model.initials" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div style="padding: 10px;">
                    <div class="form-group">
                        <label for="lastName">Альтернативное имя</label>
                        <input type="text" id="lastName" class="form-control" ng-blur="fixCase()"
                               placeholder="Введите сюда какое-нибудь другое имя (Одинокий Змий и т.п.), под которым известен человечеству..."
                               ng-model="model.alternateName" />
                    </div>
                </div>
            </div>
        </div>
        
    </ng-form>
</div>