.slide-container {
    /*width: 100%;
    height: 100%;
        not really necessary 
    */
}

.slide-header {
    position: absolute;
    width: 20px;
}

.slide-header-title {
    position: relative;
    cursor: pointer;
    top: 50px;
    left: -40px;
    width: 100px;
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.slide-container-main {
    position: absolute;
    padding: 5px;
    padding-left: 25px;
}

.slide {
    position: fixed;
    background-color: #daa520;
    float: left;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    transition: width;
    padding-top: 50px;
}

    .slide:hover {
        width: 300px;
        transition: width 1s;
        z-index: 1000;
    }

.slide-content {
    margin-left: 20px;
    background-color: rgba(100%, 100%, 100%, .8);
    padding: 5px;
    height: 100%;
    visibility: hidden;
    
    overflow: scroll;
}

.slide:hover .slide-content {
    visibility: visible;
    transition: visibility 2s ease-in;
    transition-delay: .5s;
}
